.orange {
  height: 100px;
  background-color: orange;
}
.green {
  height: 100px;
  background-color: green;
}
.blue {
  height: 100px;
  background-color: blue;
}
.blueviolet {
  height: 100px;
  background-color: blueviolet;
}
.red {
  height: 100px;
  background-color: red;
}
